<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body>
    <p>Hi {{ user_name }},</p>
    <br />
    <p>Please follow the link below to reset the password:</p>
    <br />
    <p><a href="{{ recovery_link }}">{{ recovery_link }}</a></p>
    <br />
    <p>You can also copy and paste the code below:</p>
    <br />
    <p>{{ recovery_code }}</p>
    <br />
    <p>
      Baato Mechanic never calls to ask for OTP. Do NOT SHARE. If anyone asks,
      please report it at 9868957429
    </p>
    <br />
    <p>Regards,</p>
    <br />
    <p>Baato Mechanic Pvt. Ltd</p>
    <p>Phone: +977 9868957429</p>
    <p>Address: Kathmandu, Nepal</p>
  </body>
</html>
